.vh-100 {
  min-height: 100vh;
}

.rounded {
  border-radius: 0.6rem !important;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.cardHead {
  font-size: 24px;
}

.cardLyrics {
  font-size: 16px;
}

a {
  text-decoration: none;
}

.video {
  width: 75%;
  height: 50%
}

.picSize {
  height: 20%;
}